<!-- Loop over each object in the posts array -->
{{#if logged_in}}
<p class="title is-3">Welcome {{user.name}}!!</p>
{{else}}
<nav class="buttons">
    <a href="/login">Click here to login!</a>
    
</nav>
{{/if}}

<p class="title is-4 has-text-centered">Latest Posts</p>

{{#each posts as |post| }}
<div class="row mb-4 post">
    <div class="col-md-5">
        
        <div class="card">
           <div class="card-content">
                <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      
                <p class="title is-4"><a href="/post/{{post.id}}">{{post.title}}</a></p>
            
                <div class="content">
                    <p>{{post.body}}</p>
                </div>

                <p>Created by {{post.user.name}}</p> 
                {{!-- on {{format_date post.date_created}} --}}
            </div>

        </div>
    </div>
</div>
{{/each}}
